# Dependencies
node_modules

# Production
dist
build
server

# Tests
coverage

# Backups
backups

# Services
.vscode

# Others
logs
*.log
.cache
temp
tmp

# Local env files
.env*.local

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings

# System files
.DS_Store
Thumbs.db
*.pem
