@reference './root.css';

/* Important */
code.language-bash * {
  @apply text-slate-700! dark:text-slate-300!;
}

/* Gray */
code .script,
code .spread,
code .imports span {
  @apply text-slate-700 dark:text-slate-300;
}
code .operator,
code .tag .punctuation,
code .attr-value .punctuation.attr-equals {
  @apply text-slate-600 dark:text-slate-400;
}
code .comment {
  @apply text-slate-500;
}

/* Amber */
code .string,
code .attr-value,
code .attr-value .punctuation {
  @apply text-yellow-600 dark:text-amber-200;
}

/* Emerald */
code .function,
code .tag .attr-name,
code .tag .script .function {
  @apply text-emerald-600 dark:text-emerald-400;
}

/* Teal */
code .keyword,
code .builtin,
code .boolean,
code .imports .operator {
  @apply text-teal-600 dark:text-teal-400;
}

/* Sky */
code .tag .class-name,
code .maybe-class-name {
  @apply text-sky-600 dark:text-sky-400;
}

/* Purple */
code .number {
  @apply text-purple-600 dark:text-purple-400;
}

/* Red */
code .tag,
code .keyword.module,
code .keyword.control-flow,
code .spread.operator {
  @apply text-red-600 dark:text-red-400;
}
