# Netlify build config
[build]
  publish = "dist"
  command = "cd ../library && npm run build && cd ../website && npm run sitemap && npm run build"

# Netlify headers config
[[headers]]
  for = "/build/*"
  [headers.values]
    cache-control = "public, max-age=31536000, s-maxage=31536000, immutable"
[[headers]]
  for = "/assets/*"
  [headers.values]
    cache-control = "public, max-age=31536000, s-maxage=31536000, immutable"
[[headers]]
  for = "/assets/*-index.min.js"
  [headers.values]
    # This is a temporary solution to be able to load the Valibot library into the playground iframe
    access-control-allow-origin = "*"