name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_call:

jobs:
  install:
    name: Install packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environment

  library_preview:
    name: Publish library via pkg.pr.new
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environment
      - name: Publish library
        run: pnpx pkg-pr-new publish --compact --comment=update --pnpm
        working-directory: library

  library_prettier:
    name: Run Prettier in library
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environment
      - name: Prettier check
        run: pnpm format.check
        working-directory: library

  library_eslint:
    name: Run ESLint in library
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environment
      - name: ESLint check
        run: pnpm lint
        working-directory: library

  library_vitest:
    name: Run Vitest in library
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environment
      - name: Vitest tests
        run: pnpm test
        working-directory: library

  to_json_schema_prettier:
    name: Run Prettier in packages/to-json-schema
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environment
      - name: Prettier check
        run: pnpm format.check
        working-directory: packages/to-json-schema

  to_json_schema_eslint:
    name: Run ESLint in packages/to-json-schema
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environment
      - name: ESLint check
        run: pnpm lint
        working-directory: packages/to-json-schema

  to_json_schema_vitest:
    name: Run Vitest in packages/to-json-schema
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environment
      - name: Vitest tests
        run: pnpm test
        working-directory: packages/to-json-schema

  website_prettier:
    name: Run Prettier in website
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environment
      - name: Prettier check
        run: pnpm format.check
        working-directory: website

  website_eslint:
    name: Run ESLint in website
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environment
      - name: ESLint check
        run: pnpm lint
        working-directory: website

  zod_to_valibot_codemod_vitest:
    name: Run Vitest in codemod/zod-to-valibot
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'zod-to-valibot-codemod'
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm
      - name: Install dependencies
        shell: bash
        run: pnpm install --filter zod-to-valibot
      - name: Vitest tests
        run: pnpm test
        working-directory: codemod/zod-to-valibot
